<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">

            <% if (typeof errorMessage !== "undefined") { %>
            <p class="alert alert-danger" role="alert"><%= errorMessage %></p>
            <% } %>
            <% if (typeof successMessage !== "undefined") { %>
            <p class="alert alert-success" role="alert"><%= successMessage %></p>
            <% } %>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" value="<%=(typeof inputData!='undefined') ? inputData.email: ''%>">
              <p style="color: red;"><%= (typeof errors!="undefined" && typeof errors.email!="undefined") ? errors.email.msg: ""%></p>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" value="<%=(typeof inputData!='undefined') ? inputData.password: ''%>">
              <p style="color: red;"><%= (typeof errors!="undefined" && typeof errors.password!="undefined") ? errors.password.msg: ""%></p>
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
          <a href="forgotPassword">Forgot password?</a>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
