<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Reset Password</h1>

  <% if (typeof errorMessage !== "undefined") { %>
  <p class="alert alert-danger" role="alert"><%= errorMessage %></p>
  <% } %>
  <% if (typeof successMessage !== "undefined") { %>
  <p class="alert alert-success" role="alert"><%= successMessage %></p>
  <% } %>

  <div class="container">
    <div class="row">
      <form action="/resetPasswordForm" method="POST">

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" value="<%=(typeof inputData!='undefined') ? inputData.password: ''%>">
          <p style="color: red;"><%= (typeof errors!="undefined" && typeof errors.password!="undefined") ? errors.password.msg: ""%></p>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" name="confirmPassword" value="<%=(typeof inputData!='undefined') ? inputData.confirmPassword: ''%>">
          <p style="color: red;"><%= (typeof errors!="undefined" && typeof errors.confirmPassword!="undefined") ? errors.confirmPassword.msg: ""%></p>
        </div>
        <button type="submit" class="btn btn-dark">Done</button>
      </form>
    </div>
  </div>

  <%- include('partials/footer') %>
